<div>
    <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
    <h2>Home <small></small></h2>
    <div class="jumbotron">
        <div class="container">
            <h1>KGK - THE BEGINNING OF WORLDWIDE TRUST</h1>
            <div>
                The foundation for the worldwide trust that KGK Group enjoys today was laid more than a hundred years ago
                by men with vision and the courage to conduct business in Coloured Gemstones, Diamonds and Jewellery with
                integrity and ethics, always placing the customer's needs foremost.
                <br />
                With its substantial business ventures, the group employs around 12,000 people in different parts of the
                world, covering 15 countries across 4 continents.
            </div>
            <br /><br />
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
            </p>
        </div>
    </div>
</div>
